<!-- @frontend/static/templates/inbox.html -->
<div class="inbox-container mx-auto max-w-4xl mt-8 p-4 bg-white shadow-lg rounded-lg">
    <h2 class="text-2xl font-bold text-gray-800 mb-4">Inbox</h2>
    <div class="messages-section">
        <h3 class="text-xl font-semibold text-gray-700 mb-2">Unread Messages</h3>
        <div id="unread-messages" class="messages-list bg-gray-100 p-4 rounded-lg mb-4">
        </div>
        <hr class="my-4">
        <h3 class="text-xl font-semibold text-gray-700 mb-2">Read Messages</h3>
        <div id="read-messages" class="messages-list bg-gray-100 p-4 rounded-lg mb-4 ">
        </div>
        <hr class="my-4">
        <h3 class="text-xl font-semibold text-gray-700 mb-2">Deleted Messages</h3>
        <div id="deleted-messages" class="messages-list bg-gray-100 p-4 rounded-lg  mb-4">
        </div>
    </div>
</div>

<script src="static/js/inbox/inbox.js"></script>
